:root {
  --primery-text-color: #434455;
  --title-text-color:#212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --herobackground-color: #2E2F42;
  --tel-mail-color: rgba(255, 255, 255, 0.6);
  --font-size14px: 14px;
  --font-size16px: 16px;
  --font-size36px: 36px;
  --font: bold;
  --font-style: normal;
  --font-weight500: 500;
  --font-wtightnormal: normal;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background: var(--background-color);
    color: var(--primery-text-color);
  }
li, a, ul{
   list-style: none;
   text-decoration: none;
}

.section{
  padding-top: 94px;
  padding-bottom:94px;
}
.container {
width: 1200px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;

}

/* Header */

.head-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.page-header{
  background-color: var(--background-color);
  border-bottom: 1px solid #ececee;
}
/* Logo */
.logo{
  color: var(--accent-color);
 
  
  font-family: Raleway;
  font-style:var(--font-style);
  font-size: 26px;
  font-weight: var(--font);
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform:uppercase;
}
.logo-colored{
  color: var(--title-text-color);
}
.page-nav{
  display: flex;
  align-items: center;
}
.site-nav{
  font-size: var(--font-size14px);
  font-style: var(--font-style);
  font-weight: var(--font-weight500);
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  justify-content: center;
  margin-left: 93px;
}

.site-nav .site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-list:not(:first-child){
  margin-left: 50px;
}
.site-nav-link{
  color: var(--title-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom:32px;
}
.site-nav-link:hover, .site-nav-link:focus{
  color: var(--accent-color);
}

.auth-nav{
  font-style: var(--font-style);
  font-weight: var(--font-weight500);
  font-size: var(--font-size14px);
  line-height: 1.1;
  letter-spacing: 0.02em;

  display: flex;
  margin-left:auto;
}

.auth-nav .auth-nav-list + .auth-nav-list {
  margin-left: 50px;
}

.auth-nav-link {
  color: var(--primery-text-color);

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav-link:hover, .auth-nav-link:focus{
  color:var(--accent-color); 
}

/* Main body*/
/* Hero section*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow:hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.main-section{
  color: var(--herobackground-color);
  padding: 200px 0;
}
.main-caption{
  font-style: var(--font-style);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:var(--background-color);

  width:696px;
  margin:0 auto;
}
.btn-item{
  border: none;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  margin-top:30px;
  padding: 10px 32px;
 
}
.btn-desc{
  display: flex;
  min-width:150px;
  align-items: center;
  text-align: center;
  font-style: var(--font-style);
  font-weight: var(--font);
  font-size: var(--font-size16px);
  line-height: 1.87;
  letter-spacing: 0.06em;
  color:var(--background-color);
  
}

/* Our Features section */
.our-features-title{
  background-color: var(--background-color);
  color: transparent;
  font-weight: var(--font);
  font-size: var(--font-size14px);
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 8px;
}
.items{
  background-color: var(--background-color);

  display: flex;
  flex-direction: wrap;
}
.our-features-list{
  width:264px;
  margin-right: 24px;
  margin-bottom:0;
}

.our-features-heading{
  font-size: var(--font-size14px);
  line-height: 1.2; 
  text-transform: uppercase;
  color: var(--title-text-color); 
}
.our-features-paragraph{
  font-size: var(--font-size14px);
  line-height: 1.71; 
  letter-spacing: 0.03em;
  color: var(--primery-text-color); 
}

/* .colored-section3 {
  background-color: var(--herobackground-color);
  color: white;
  padding: 5px; 
  margin: 0px;
  width: 100%;
  height: 600px;
}
 .colored-section {
  background-color: #F4F4FD; 
  color: black;
  padding: 5px; 
  margin: 0px;
  width: 100%;
}
.colored-section2 {
  background-color: #2E2F42; 
  color: white;
  padding: 5px; 
  margin: 0px;
  width: 100%;
  bottom: 100%;
}
h1 {
  text-align: center;
}
.button {
display:block;
margin: auto;
}
.grid-container {
  display: grid;
  /* grid-template-columns: 20px 100px;
  grid-template-rows: 20px 50px;
  grid-auto-flow: column; 
  gap: 10px;
}
h2 {
  text-align: center;
}
nav {
  text-align: center;
}
address {
  font-family: "Roboto", sans-serif;
} */